{% extends 'home.html' %}
{% block title %}Detail{% endblock %}
{% block content %}
    <h2>Detail Page</h2>
    <img src="{{ book.cover_picture.url }}" alt="cover image">
<h2>{{ book.title }}</h2>
    <span>
        Authored by
        {% for book_author in book.bookauthor_set.all %}
            {% if forloop.last %}
                <i>{{ book_author.author.full_name }}</i>
            {% else %}
                <i>{{ book_author.author.full_name }}</i>,
            {% endif %}
        {% endfor %}
    </span><br>
<i>{{ book.isbn }}</i>
<p>{{ book.discription }}</p>
    <form action="{% url 'books:review' book.id %}" method="post">{% csrf_token %}
        <div class="input">{{ review_form.star_given }}</div>
        <div class="input">{{ review_form.commit }}</div>
        <button type="submit">Add Review</button>
        <br><br>
    </form>
    {% if book.bookreview_set.all %}
<div> <b>Commits:</b><br>
    {% for review in book.bookreview_set.all %}
        <i>{{ review.user.username }} | {{ review.star_given }} stars {{ review.created_time }}</i>
        <p> <b>commit:</b>  {{ review.commit }}</p>
    </div>
    {% endfor %}
{% endif %}
{% endblock %}
